<footer>
  <span>&copy; Copyright Md Nuruddin osman</span>
  <article>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci
    fugiat excepturi dicta doloribus reiciendis, deserunt debitis, ullam
    consequuntur quod dolore asperiores non distinctio numquam vitae, sint
    repudiandae voluptas soluta.
  </article>
</footer>
